{% extends "conteneur.html" %}

{% block titre %}| Supprimer œuvre{%endblock%}

{% block corps %}


<center>
<form method="POST" action="{{url_for('supprimer_oeuvre', id_oeuvre=suppr_oeuvre.id_oeuvre)}}">
	<div>
		<p>Etes-vous certain de vouloir supprimer cette œuvre : </>
		<br/>
		<p name="work" value="{{suppr_oeuvre.id_oeuvre}}"><em>{{suppr_oeuvre.titre}}</em> ?</p>
	</div>
	<br/>
	<div>
      <div>
          <button type="submit" class="btn btn-info">Confirmer</button>
      </div>
  </div>
</form>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</center>

{% endblock %}